{% extends 'user_base.html' %}

{% block main %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <p class="text-center text-danger m-3">{{ error_msg }}</p>
            <div class="card shadow m-3">
                <div class="row">
                    <div class="col p-3 m-3">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-center">{{ show.show_name }}</h5>
                                <p class="card-text text-center"><em>{{ show.description }}</em></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <p>Labels/Tags: <strong>{{ show.tags | upper() }}</strong></p>
                        </div>
                        <div class="row">
                            <div class="col-4 d-flex flex-column justify-content-center align-content-middle">
                                <p class="text-center">Date</p>
                                <p class="h5 text-center">{{ show.timing.date() }}</p>
                            </div>
                            <div class="col-4 d-flex flex-column justify-content-center align-content-middle">
                                <p class="text-center">Time</p>
                                <p class="h5 text-ceter align-self-center">{{ show.timing.time() }}</p>
                            </div>
                            <div class="col-4 d-flex flex-column justify-content-center align-content-middle">
                                <p class="text-center">Rating</p>
                                <p class="h5 text-ceter align-self-center">{{ show.rating }}/10</p>
                            </div>
                        </div>
                        <hr>
                        <div class='row'>
                            <div class="col justify-content-center">
                                <p class="text-center">Venue:<a href="" class="text-dark"><span
                                            class="h5 p-2 m-2">{{ show.venues.venue_name }}</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center m-3 p-3">
                    <div class="m-1 p-1">
                        <p class="h5">Book my tickets for this show!!</p>
                    </div>
                    <form class="col justify-content-center" method="POST">
                        <div class="row justify-content-center">
                            <div class="col-6 d-flex flex-column mt-1 mb-1">
                                <label for="ticket_size" class="form-label">Total Tickets</label>
                                <input type="text" id="ticket_size" class="form-control" name="ticket_size" required>
                            </div>
                            <div class="col-6 d-flex flex-column mt-1 mb-1">
                                <label for="price" class="form-label">One Ticket's Price</label>
                                <input type="text" id="price" class="form-control" name="price" value="{{ show.ticket_price }}" required disabled>
                            </div>
                        </div>
                        <div class="row justify-content-center m-3 p-3">
                            <div class="col-1 justify-content-center">
                                <button type="submit" class="btn btn-primary" {% if show.rseats == 0 %} disabled {% endif %}>Book</button>
                            </div>
                            {% if show.rseats == 0 %} <p class="text-center text-danger m-2">Housefull !! No more booking allowed</p> {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}