{% extends 'base.html' %}

{% block title %} ShowSpot - User Login {% endblock %} 

{% block navbar_content %} 
<a class="nav-link" href={{ url_for('index') }}>Home</a>  
<a class="nav-link " href={{ url_for('user_register') }}>New User</a> 
<a class="nav-link " href={{ url_for('admin.admin_login') }}>Admin Login</a>                 
{% endblock navbar_content %}

{% block body%} 
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center m-5">
        <div class="col-4 shadow p-3">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <h2>Login</h2>
                    <hr>
                    <p class="text-danger">{{ error_msg }}</p>
                </div>
            </div>
            
            <form method="POST" class="justify-content-center">
                <div class="row justify-content-center m-2">
                    <div class="col">
                        <label for="username" class="form-label ">Username</label>
                        <input type="text" class="form-control " name="username" id="username" placeholder="Enter your username" required>
                    </div>
                </div>
                <div class="row justify-content-center m-2">
                    <div class="col">
                        <label for="password" class="form-label ">Password</label>
                        <input type="password" class="form-control " name="password" id="passwrod" placeholder="Enter Password" required>            
                    </div>
                </div>
                <div class="row justify-content-center m-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="row justify-content-center m-4 text-center">
                    <span>-------OR-------</span>
                </div>
                <div class="row justify-content-center m-4 text-center">
                    <a href={{ url_for('user_register') }} class="btn btn-secondary">Register</a>
                </div>

            </form> 
        </div>
    </div>
</div>

{% endblock body %}
